@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Sacramento&display=swap");

/* font-family: 'Amatic SC', cursive; */

/* font-family: 'Sacramento', cursive; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5px;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.odd-radius {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.page {
  background-color: white;
  width: 90vw;
  height: 90vh;
  padding: 15px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.font-amatic {
  font-family: "Amatic SC", cursive;
}

.font-sac {
  font-family: "Sacramento", cursive;
}
